body/*mise en forme de la page*/
{
    background-image: url(fond.jpeg);
    
}

/*----------------------------------Mise en forme header-----------------------------------------------*/
header img/*mise en form de l'image du header*/
{
    width: 10%;
    height: 10%;
    float: left;
}
.imglang
{ width:50%;
height: 50%;
margin: auto;
display: block;}

header p/*mise en forme du paragraphe du header*/
{
text-align: justify;
font-size: 1em;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/*---------------------------mise en forme du 1er menu de navigation--------------------------------------*/
#nav1 ul/*mise en forme du block du menu*/
{
    list-style-type: none;
    background-color: #00CCCC;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    border-radius: 10px;
}
#nav1 li /*mise en forme de chaque ligne du block*/
{
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
}
#nav1 a /* Mise en forme du texte du block du menu*/
{
    text-align: center;
    font-weight: bolder;
    font-size: 1.25em;
    color: white;
    text-decoration: none;
}
#nav1 li:hover /* Changement de la couleur du block du menu avec passage de la souris*/
{
    
    background-color: blueviolet;
       
}
#nav1 li:active /* Changement de la couleur du block du menu au click de la souris*/
{
    background-color:darkmagenta
       
}

/*-------------------------------mise en forme ligne sépapratice------------------------------*/
hr 
{
    margin-top: 6%;
    border: 2px dashed green;
    border-radius: 5px;
    
}
/*--------------------------mise en forme du 2eme menu de navigation---------------------------*/
#nav2
{
    width: 20%;
    float: left;
}
#nav2 ul/*mise en forme du block du menu*/
{
    list-style-type: none;
    background-color: #db7312;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    border-radius: 10px;
}
#nav2 li /*mise en forme de chaque ligne du block*/
{
    display: block;
    padding: 10px;
    border-radius: 10px;
    text-align:center;
    
}
#nav2 a /* Mise en forme du texte du block du menu*/
{
    
    font-weight: bolder;
    color: black;
    text-decoration: none;
}
#nav2 li:hover /* Changement de la couleur du block du menu avec passage de la souris*/
{
    
    background-color: rgb(226, 71, 10);
       
}
#nav2 li:active /* Changement de la couleur du block du menu au click de la souris*/
{
    background-color:rgb(245, 37, 10)
       
}

/*----------------------------------Mise en forme de l'aside--------------------------------------*/
aside
{
float: right;
width: 25%;

}
aside figure img
{
    
    width: 100%;
}
figcaption/* Mise en forme du texte sous l'image */
{
  font-style: italic;
  font-family: monospace;
  color: red;
  font-size: 0,5em;
  text-align: center;

}
/*--------------------------------Mise en forme de la section-----------------------------------------*/
section
{
    border: 2px solid blue;
    border-radius: 10px;
    margin-left: 5%;
    margin-right: 5%;
    padding: 2%;
      
}
#s
{
    border: 2px solid blue;
    border-radius: 10px;
    margin-left: 25%;
    margin-right: 25%;
    padding: 2%;
      
}
#sp{
    display: block;
    margin: auto;
}

h1
{
    text-align: center;
    font-size: 1.5em;
    text-transform: capitalize;
    text-shadow: 3px 3px 6px red;
    font-family:'Times New Roman', Times, serif
}
section p/*mise en forme du paragraphe du section*/
{
text-align: justify;
font-size: 1.2em;
font-family:Verdana, Geneva, Tahoma, sans-serif;
}

video /*mise en forme de la video*/
{
    display: block;
    width: 50%;
    margin: 10px auto;
    border-radius:5px;
}
/*-----------------------------------Mise en forme de du footer-------------------------------------*/
h2
{
text-align: center;
color:darkgrey;
text-decoration: underline 2px solid black;
}
footer ul
{
    list-style-type: none;
    text-align: center;
}
footer a
{
    font-size: 1.2em;
    font-weight: bold;
}
footer a:hover
{
    font-size: 1.5em;
    font-weight: bold;
}
footer img
{
    width: 100px;
}


/*----------------------------Transition sur les menu-----------------------------*/
iframe{
    display: block;
    margin: auto;
    width: 50%;
    height:500px;
    border-radius: 10px;

}